<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cohort</title>
  </head>
  <body>
    <h1 class="cohort-title"> My Cohort</h1>

    <div class="container user-container">
      <div class="row">
        <% @user_cohort.each do |user| %>
          <!-- <li class="ui-widget-content ui-corner-tr user-card"> -->
            <ul class="list-group col-xs-6 cols-sm-4 col-md-2 user-card">
              <div class="individual-card">
                <li class="list-group-item">
                    <%= image_tag("pairing_matrix_logo.gif", size: "50") %>
                    <a class="fullscreen-button"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></a>
                </li>

                <li class="list-group-item">
                  <div class="list-group">
                    <h4 class="list-group-item-heading"><%= user.username %></h4>
                    <p class="list-group-item-text">User Github</p>
                    <p class="list-group-item-text user-email"><%= user.email %></p>
                  </div>
                </li>

                <li class="list-group-item user-buttons">
                  <a class="paired-button"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a>
                    <span class="paired-selected">Paired</span>
                    <span class="blacklist-selected">Blacklisted</span>
                  <a class="blacklist-button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
                </li>
              </div>
            </ul>
          </li>
          <!-- funcitonality of glyphcons to be added -->
        <% end %>
      </div>
    </div>

    <div class="blacklist">
    <h2 class="blacklist-header">Blacklist</h2>
      <div class="container">
        <div class="row">
          <ul class="list-group col-md-2 blacklist-card">
            <div class="individual-card">
              
            </div>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
