<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WOOT</title>
  </head>
  <body>
    <% @pairs.each do |pair| %>
      <%= pair[:day] %>
      <%= pair[:user_name] %>
      <%= pair[:pair_name] %>
      </br>
    <% end %>

  </body>
</html>