<!DOCTYPE html>
<html>

<head>
  <title>Pairing Matrix</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag "pairs-index" %>
</head>

<body>
  <div class="container">
    <div>LOGO</div>
    <% if current_user %>
    <p>Who am I paired with...</p>
    <div class="button-group">
      <a id="today-btn" class="btn btn-primary" href="/pairs/show">today?</a>
      <a id="tomorrow-btn" class="btn btn-primary" href="/pairs/show">tomorrow?</a>
      <a id="week-btn" class="btn btn-primary" href="/pairs/show">this week?</a>
    </div>
  <% end %>
  </div>
</body>
</html>
