/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 *= require jquery-ui
 */

.navbar.navbar-default.navbar-fixed-top {
  background-color: rgba(195, 202, 207, 0.85);
}

.field.user-login {
  padding-top: 1em;
  width: 100%;
}

.notice {
  padding-top: 6em;
}

.btn.my-cohort {
  float: right;
}

form.ng-valid {
  height: 0.001em;
}

.container-fluid {
  padding-top: 0.5em;
  padding-bottom: 0.7em;
}
