#cohort_gallery {
  float: left;
  width: 100%;
  min-height: 20em;
}

.gallery.custom-state-active {
  background: #eee;
}

.gallery li {
  float: left;
  width: 8em;
  height: 14em;
  padding: 0.4em;
  margin: 0 0.4em 0.4em 0;
  border-radius: 0.2em;
  cursor: move;
  text-align: left }

.gallery li h4 {

}

.individual-card {
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.user-card li img {
  float: left;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
	-moz-border-radius: 2em;
}

li.has-paired {
  background-color: #85e077;
  opacity: 0.8;
}

.user-card li {
  overflow: scroll;
}

.glyphicon-fullscreen {
  color: black;
  float:right;
}

.blacklist-button {
  float: right;
}


#blacklist {
  float: bottom;
  width: 100%;
  min-height: 18em;
  padding: 1%;
}

#blacklist h4 {
  line-height: 16px;
  margin: 0 0 0.4em;

}
#blacklist h4 .ui-icon {
  float: left;
}
#blacklist .gallery h5 {
  display: none;
}
