#cohort_gallery {
  float: left;
  width: 100%;
  min-height: 20em;
}

.gallery.custom-state-active {
  background: #eee;
}

.gallery li {
  float: left;
  width: 8em;
  height: 14em;
  padding: 0.4em;
  margin: 0 0.4em 0.4em 0;
  border-radius: 0.2em;
  cursor: move;
  text-align: left }

.gallery li h4 {

}

.cohort-title {
  text-align: center;
}

.individual-card {
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.user-card li img {
  float: left;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
	-moz-border-radius: 2em;
}

.has-paired {
  background-color: green;
  opacity: 0.5;
}

.blacklist-selected, .paired-selected {
  color: white;
}

.has-paired .blacklist-selected {
  color: black;
}

.has-paired .paired-selected {
  color: black;
}

.user-card li, .blacklist-card li {
  overflow: scroll;
}

.fullscreen-button {
  color: blue;
  float:right;
  opacity: 0.5;
}


.paired-button {
  float: left;
  color: green;
  opacity: 0.5;
}

.blacklist-button {
  float: right;
  color: red;
  opacity: 0.5;
}

.user-buttons {
  text-align: center;
}




#blacklist {
  float: bottom;
  width: 100%;
  min-height: 18em;
  padding: 1%;
}

#blacklist h4 {
  line-height: 16px;
  margin: 0 0 0.4em;

}
#blacklist h4 .ui-icon {
  float: left;
}
#blacklist .gallery h5 {
  display: none;
}
