<!DOCTYPE html>
<html ng-app="PairingMatrix">
<head>
  <title>Pairing Matrix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <h1> Jack is so cool holy shit </h1>

<%= yield %>

</body>
</html>
